@font-face {
    font-family: PressStart2P;
    src: url('./PressStart2P-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PressStart2P;

      
}
